.background-img {
  background-image: url("/loginBackground.png"); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
}
